apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.app.name }}
  labels:
    app: {{ .Values.app.name }}
    environment: production
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.app.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.app.name }}
    spec:
    {{ if hasKey .Values.app "nodeType" }}
      nodeSelector:
        nodetype: {{ .Values.app.nodeType }}
    {{ end }}
    {{ if hasKey .Values.image "pullSecret" }}
      imagePullSecrets:
        - name: {{ .Values.image.pullSecret }}
    {{ end }}
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - {{ .Values.app.name }}
            topologyKey: "kubernetes.io/hostname"
      containers:
        - name: {{ .Values.app.name }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
        {{ if hasKey .Values.image "repository" }}
          image: {{ .Values.image.repository }}/{{ .Values.image.name }}:{{ .Values.image.tag }}
        {{ else }}
          image: {{ .Values.image.name }}:{{ .Values.image.tag }}
        {{ end }}
          ports:
            - containerPort: 8080
          resources:
            limits:
              cpu: {{ .Values.resources.limits.cpu }}
              memory: {{ .Values.resources.limits.memory }}
            requests:
              cpu: {{ .Values.resources.requests.cpu }}
              memory: {{ .Values.resources.requests.memory }}
          envFrom:
            - configMapRef:
                name: {{ .Values.config.configMapName }}
          env:
            - name: SERVER_SERVLET_CONTEXT_PATH
              value: {{ .Values.app.rootPath }}
            - name: NODE_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
          {{ if .Values.config.otel.useNodeIP }}
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: "http://$(NODE_IP):4317"
          {{ end }}
          
